.Login {
    display: flex;
	flex-direction: row;
	justify-content: center;
    align-items: center;
    
    background-image: url("https://images.homedepot-static.com/productImages/b2ee0ac2-0381-44fd-9770-da63db8a804c/svn/various-wood-tones-reclaimed-wood-barn-wood-boards-27862-64_1000.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1540px 800px;
    /* background-color:  hsl(10, 9%, 52%); */
    /* border: 2px solid black; */
    /* height: 660px; */
    height: 100vh;
}

.Login_Container {
    display: flex;
	flex-direction: column;
	justify-content: flex-start;
    align-items: center;
    
    background-color: #EFE1C8;
    /* border: 2px solid white; */
    box-shadow: 8px 8px 8px black;
    height: 600px;
    width: 400px;
}

.Pizza_Image_Login {
    display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
    
    /* border: 2px solid black; */
    height: 100px;
    width: 100px;
    margin-top: 10%;
}



.Name_Login {
    /* border: 2px solid black; */
    height: 80px;
    width: 300x;
    margin-top: 5%;
}

.Name_Text_Login {
    font-family: 'Fugaz One', cursive;
    font-size: 45px;
}

.Text_Username_Login {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    margin-top: 18%;
    width: 200px;
    border-radius: 25px
}

.Text_Password_Login {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    margin-top: 10%;
    width: 200px;
    border-radius: 25px

}

.Submit_Login {
    margin-top: 1%;
    height: 50px;
    width: 200px;
    border-radius: 25px;
    text-decoration: none;
    border: none;
    padding: 0;
    background-color: hsl(9, 61%, 61%);
    margin-top: 20%;
}

.Submit_Text_Login {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    text-align: center;
    color: white;
    margin-top: 4%
 
}

@media only screen and (max-width: 498px) {
    .Login {
        width: 400px;
    }
}