.Information {
    display: flex;
	flex-direction: row;
	justify-content: center;
    align-items: center;
    
    background-image: url("https://images.homedepot-static.com/productImages/b2ee0ac2-0381-44fd-9770-da63db8a804c/svn/various-wood-tones-reclaimed-wood-barn-wood-boards-27862-64_1000.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1540px 680px;
    /* background-color:  hsl(10, 9%, 52%); */
    /* border: 2px solid black; */
    height: 656px;
}

.Information_Card {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
    
    background-color: #EFE1C8;
    /* border: 2px solid white; */
    box-shadow: 9px 9px 9px black;
    height: 600px;
    width: 900px;
}

.Information_Left_Inner_Container {
    display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
    
    border-right: 2px solid black;
    height: 580px;
    width: 574px;
    margin-left: 1%;
}

.Information_Left_Inner_Top_Container {
    display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
    
    /* border: 2px solid black; */
    height: 450px;
    width: 570px;
    margin-bottom: 1%;
    margin-right: 1.5%
}

.Information_Left_Inner_Top_Container_Title {
    /* border: 2px solid black; */
    height: 50px;
    width: 400px;
}

.Information_Left_Inner_Top_Container_Title_Text {
    font-family: 'Fugaz One', cursive;
    font-size: 30px;
    color: black;
    margin-left: 18%
}

.Information_Left_Inner_Top_Container_Content {
    display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
    
    /* border: 2px solid black; */
    height: 160px;
    width: 570px;
    margin-bottom: 0.5%
}

.Information_Left_Inner_Top_Container_Image_Image {
    height: 156px;
    width: 117px;
}

.Information_Left_Inner_Bottom_Container {
    display: flex;
	flex-direction: row;
	justify-content: flex-start;
    align-items: center;
    
    background-color: #515A48;
    border: 2px solid #755C20;
    border-radius: 8px;
    height: 130px;
    width: 570px;
    margin-right: 1.5%
}

.Information_Left_Inner_Bottom_Photo_Container {
    border: 2px solid black;
    height: 98px;
    width: 90px;
}

.Information_Left_Inner_Bottom_Field_Container {
    /* background-color: #F2E5D7; */
    /* background-color: #64080F; */
    /* background-color: #262322; */
    /* background-color: #64080F; */
    /* background-color: #C6AC8B; */
    display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
    
    border: 2px solid black;
    height: 100px;
    width: 480px;
}

.Information_Left_Inner_Bottom_Field_Input {
    border: 1px solid black;
    border-radius: 5px;
    height: 30px;
    width: 458px;
    margin-left: 2%;
    margin-right: 2%

}

.Information_Left_Inner_Bottom_Post_Button {
    /* background-color: #64080F; */
    /* background-color: #262322; */
    background-color: #262322;
    /* border: 1px solid #262322; */
    border: none;
    border-radius: 4px;
    height: 25px;
    width: 44px;
    margin-top: 0.5%;
    margin-left: 89%;
    color: white

}

.Information_Right_Inner_Container {
    border-left: 2px solid black;
    height: 580px;
    width: 300px;
    margin-left: 1%;
    margin-right: 1%

}

.Information_Right_Inner_Container {
    display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}

.Information_Right_Inner_Container_Title {
    font-family: 'Fugaz One', cursive;
    font-size: 28px;
    color: #515A48;
}

.Information_Right_Inner_Container_Field {
	display: flex;
    flex-direction: row;
    flex-wrap: wrap;
	justify-content: flex-start;
	align-items: flex-start;
    
    /* background-color: white; */
    /* border: 1px solid black; */
    border-radius: 5px;
    height: 220px;
    width: 280px;
    margin-top: 7%
    /* scroll-behavior: auto; */
}

.Comment_Container {
    display: flex;
    background-color: #515A48;
    flex-direction: column;
    flex-wrap: wrap;
	justify-content: flex-start;
	align-items: flex-start;
    
    border: 2px solid #755C20;
    border-radius: 10px;
    height: 130;
    width: 270px;
    margin: 1%;
}

.Comment_Container_Top {
	display: flex;
	flex-direction: row;
	/* flex-wrap: wrap; */
	justify-content: flex-start;
	align-items: center;
	align-content: stretch;
    
    /* background-color: #D6BE85; */
    /* border: 1px solid #755C20; */
    border-radius: 6px;
    height: 25px;
    width: 260px;
    margin-top: 1%;
    margin: 1%
}

.Comment_Checkbox {
    height: 15px;
    width: 15px;
    margin-top: -50%
}

.Comment_UserName {
    color: #D6BE85;
    font-family: 'Fugaz One', cursive;
    letter-spacing: 0.1ch;
    font-size: 15px;
    margin-top: 3%;
    margin-left: 12%
}

.Comment_Text {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: hsl(357, 88%, 13%);
    font-size: 10px;
    margin-left: 2%
}

.Comment_Container_Middle {
    background-color: #D6BE85;
    border: 1px solid #755C20;
    border-radius: 6px;
    height: 58px;
    width: 260px;
    margin: 1%
}

.Comment_Container_Buttons {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
    
    /* border: 2px solid #755C20; */
    height: 35px;
    width: 260px;
    margin: 1%
}

.Comment_Container_Bottom {
    background-color: #D6BE85;
    border: 1px solid #755C20;
    border-radius: 6px;
    height: 25px;
    width: 25px;
    margin-left: 1%;
}

.Comment_Delete {
    height: 18px;
    width: 18px;
    margin-left: -28%;
    margin-bottom: 30%
}

.Comment_Edit {
    display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
    
    background-color: #D6BE85;
    border: 1px solid #755C20;
    border-radius: 6px;
    height: 25px;
    width: 50px;
}

.Comment_Edit_Text {
    font-family: 'Fugaz One', cursive;
    font-size: 12px;
    margin-top: 6%
}

/* Information_Left_Inner_Top_Container Components Below */

.Information_Left_Top_Box {
    display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
    
    /* border: 2px solid black; */
    height: 60px;
    width: 570px;
}

.Information_Left_Top_Box_Text {
    font-family: 'Fugaz One', cursive;
    font-size: 30px;
    color: #515A48;
}

.Information_Left_Bottom_Box {
    display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
    
    background-color: #515A48;
    border: 2px solid #755C20;
    border-radius: 8px;
    height: 400px;
    width: 570px;
    margin-top: 1%
}

.Information_Left_Bottom_Box_Image {
    display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
    
    background-color: #D6BE85;
    border: 2px solid #755C20;
    border-radius: 8px;

    height: 370px;
    width: 230px;
    margin-left: 1%
}

.Information_Left_Bottom_Box_Image_Image {
    border-radius: 5px;
    box-shadow: 1px 2px 8px 0.5px black;
    height: 350px;
    width: 210px;
}

.Information_Left_Bottom_Box_Content {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
    
    background-color: #D6BE85;
    border: 2px solid #755C20;
    border-radius: 8px;
    height: 370px;
    width: 320px;
    margin-right: 1%
}

.Information_Left_Bottom_Box_Content_Content {
    display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-items: stretch;
    
    /* border: 2px solid black; */
    height: 320px;
    width: 300px;
    margin-top: 1%
}

.Information_Left_Bottom_Box_Content_Content_Text {
    font-family: 'Fugaz One', cursive;
    font-size: 15px;
    color: #515A48;
    margin-left: 1%
}

.Information_Left_Bottom_Box_Back_Button {
    display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
    
    background-color: #515A48;
    border: 2px solid #755C20;
    border-radius: 4px;
    height: 35px;
    width: 300px;
    margin-top: 1%
}

.Information_Left_Bottom_Box_Back_Button_Text {
    font-family: 'Fugaz One', cursive;
    font-size: 15px;
    margin-top: 3%;
    color: #D6BE85;
    text-decoration: none;
}

/* Information_Left_Inner_Bottom_Container Components Below */

.Information_Left_Box {
    display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
    
    background-color: #D6BE85;
    border: 2px solid #755C20;
    border-radius: 5px;
    height: 110px;
    width: 100px;
    margin-left: 1%
}

.Information_User_Photo {
    height: 70px;
    width: 70px;
    margin-top: 8%

}

.Information_Left_Username_Text {
    font-family: 'Fugaz One', cursive;
    font-size: 8.5px;
    color: #515A48;
    margin-top: 6%
}


.Information_Right_Box {
    display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: stretch;
    
    background-color: #D6BE85;
    border: 2px solid #755C20;
    border-radius: 5px;
    height: 110px;
    width: 450px;
    margin-left: 1%
}

.Information_Right_Field {
    background-color: whitesmoke;
    border: 2px solid #755C20;
    border-radius: 4px;
    height: 65px;
    width: 438px;
    margin: 1%
}

.Information_Right_Post_Button {
    background-color: #515A48;
    border: 2px solid #755C20;
    border-radius: 4px;
    height: 25px;
    width: 50px;
    margin: 1%;
    margin-left: 88%
}

.Information_Right_Post_Button_Text {
    font-family: 'Fugaz One', cursive;
    font-size: 14px;
    color: #D6BE85
}

