.Information {
    display: flex;
	flex-direction: row;
	justify-content: center;
    align-items: flex-start;
    
    background-image: url("https://images.homedepot-static.com/productImages/b2ee0ac2-0381-44fd-9770-da63db8a804c/svn/various-wood-tones-reclaimed-wood-barn-wood-boards-27862-64_1000.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1550px 1500px;
    /* background-color:  hsl(10, 9%, 52%); */
    /* border: 2px solid black; */
    /* height: 650px; */
    height: 1420px;
}

.Information_Container {
    display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
    
    background-color: #B4A390;
    border: 10px solid #64080F;
    border-radius: 25px;
    height: 1380px;
    width: 600px;
    margin-top: 1%;
    margin-bottom: 1%;
}

.Information_Container_Top {
    display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
    
    background-color: #EFE1C9;
    border: 3px solid #64080F;
    border-radius: 25px;
    height: 605px;
    width: 550px;
    margin-top: 2%;
}

.Information_Container_Top_Top {
    display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
    
    border-bottom: 3px solid #64080F;
    height: 285px;
    width: 500px;
    margin-top: 1%
}

.Information_Container_Top_Top_Title {
    /* border: 3px solid #64080F; */
    height: 50px;
    width: 350px;
    margin-top: 0.5%;

}

.Information_Container_Top_Top_Title_Text {
    font-family: 'Fugaz One', cursive;
    font-size: 30px;
    color: black;
    margin-top: 1%
}

.Information_Container_Top_Top_Content {
    display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
    
    /* border: 3px solid #64080F; */
    height: 215px;
    width: 500px;
    margin-top: 0.5%;
}

.Information_Container_Top_Top_Image {
    border: 2px solid #64080F;
    height: 220px;
    width: 150px
}

.Information_Container_Top_Top_Rating {
    background-color: #64080F;
    border: 2px solid #B4A390;
    height: 80px;
    width: 80px;
    margin-top: 29%
}

.Information_Container_Top_Top_Rating_Text {
    font-family: 'Fugaz One', cursive;
    font-size: 55px;
    color: #B4A390;
    text-shadow: 1.5px 1px 1px #EFE1C9;
    margin-top: 5%;
    margin-left: 25%
}


.Information_Container_Top_Bottom {
    display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
    
    border-top: 3px solid #64080F;
    height: 285px;
    width: 500px;
    margin-top: 1%
}


.Information_Container_Top_Bottom_Left {
    display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: flex-start;
    
    /* border: 3px solid #64080F; */
    height: 275px;
    width: 300px
}

.Information_Container_Top_Bottom_Text {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    color: black;
    font-weight: bold;
}

.Information_Container_Top_Bottom_Right {
    display: flex;
	flex-direction: column;
	justify-content: flex-start;
    align-items: flex-start;
    
    /* border: 3px solid #64080F; */
    height: 275px;
    width: 300px 
}

.Information_Container_Top_Bottom_Bottom_Text {
    font-family: 'Times New Roman', Times, serif;
    font-size: 18.5px;
    color: black;
    font-weight: bold;
    margin-top: 8.5%;
}

.Information_Container_Top_Bottom_Bottom_Button {
    background-color: #64080F;
    border: 2px solid #B4A390;
    border-radius: 25px;
    height: 35px;
    width: 230px;
    margin-top: 15%

}

.Information_Container_Top_Bottom_Bottom_Button_Text {
    font-family: 'Fugaz One', cursive;
    font-size: 20px;
    color: #B4A390;
    margin-left: 22%;
    margin-top: 1%
}

.Information_Container_Bottom {
    display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
    
    background-color: #EFE1C9;    
    border: 3px solid #64080F;
    border-radius: 25px;
    height: 700px;
    width: 550px;
    margin-top: 6%;
    margin-bottom: 2%
}

.Information_Container_Bottom_Top {
    border-bottom: 3px solid #64080F;
    height: 330px;
    width: 500px;

}

.Information_Container_Bottom_Bottom {
    border: 3px solid #64080F;
    height: 330px;
    width: 500px;

}

.Information_Container_Bottom_Top {
    display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}

.Information_Container_Bottom_Top_Title {
    /* border: 3px solid #64080F; */
    height: 101px;
    width: 500px;
    margin-top: 1%;
    margin-bottom: 4%
}

.Information_Container_Bottom_Top_Title_Text {
    font-family: 'Fugaz One', cursive;
    font-size: 24px;
    color: #64080F;
    text-decoration: underline;
    margin-top: 3%;
    margin-left: 10%
}

.Information_Container_Bottom_Top_Input_Field {
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    color: black;
    border: 2px solid #64080F;
    height: 50px;
    width: 500px;
    margin-top: -8%;
    margin-bottom: 4%
}

.Information_Container_Bottom_Top_Post_Delete {
    display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
    
    /* border: 3px solid #64080F; */
    height: 70px;
    width: 500px;
    margin-top: -2%;
    margin-bottom: 1.5%
}

.Information_Container_Bottom_Top_Post_Delete_Button {
    background-color: #64080F;
    border: 2px solid #B4A390;
    border-radius: 25px;
    height: 40px;
    width: 90px;
}

/* Condense Below */

.Information_Container_Bottom_Top_Edit_Button_Text {
    font-family: 'Fugaz One', cursive;
    font-size: 22px;
    color: #B4A390;
}

.Information_Container_Bottom_Top_Post_Button_Text {
    font-family: 'Fugaz One', cursive;
    font-size: 22px;
    color: #B4A390;
}

.Information_Container_Bottom_Top_Delete_Button_Text {
    font-family: 'Fugaz One', cursive;
    font-size: 22px;
    color: #B4A390;
}

/* Condense Above */

.Information_Container_Bottom_Top_Input_Field_Result {
    background-color: white;
    border: 2px solid #64080F;
    border-radius: 12px;
    height: 100px;
    width: 500px;
    margin-top: -0.5%;
}

.Information_Container_Bottom_Top_Input_Field_Result_Text {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    color: black;
    margin-left: 28%;
    margin-top: 7%;
}