.Home_Container {
    display: flex;
	flex-direction: row;
	justify-content: flex-start;
    align-items: center;

    background-image: url("https://thepizzasnob.files.wordpress.com/2014/12/five-points-slice-shop-sign-resize.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1540px 640px;

    background-color: ghostwhite;
    /* border: 2px solid black; */
    height: 638px;
    width: auto;

}

.Header_Container {
    display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: stretch;     
}

.EditorsChoice_Container {
    display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
    
    height: 315px;
    width: 400px;
    border: 2px solid white;
    border-radius: 25px;
    margin-left: 8%;
    margin-top: -10%;
    
    background: rgba(255,255,255, .5)
    
}

.EditorsChoice_Text {
    font-family: 'Fugaz One', cursive;
    font-size: 45px;
    text-shadow: 0 0 10px whitesmoke;
    -webkit-text-stroke: 0.2px whitesmoke;
    text-decoration: underline;
    /* color: whitesmoke; */
    /* color: hsl(0, 0%, 19%); */
    color: black;
    margin-top: 4%

}

.EditorsChoice_Pizzeria_Text {
    font-family: 'Times New Roman', Times, serif;
    font-size: 35px;
    font-weight: bold;
    /* text-shadow:  0 0 15px white; */
    /* text-shadow:  0 0 15px yellow; */
    /* text-decoration: underline; */
    -webkit-text-stroke: 0  1px black;
    /* color: hsl(0, 0%, 19%); */
    /* color: rgb(238, 118, 13); */
    /* color: gold */
    color: black
}

.EditorsChoice_Pizzeria_Location_Text {
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    font-weight: bold;
    /* text-shadow:  0 0 15px white; */
    /* text-shadow:  0 0 15px yellow; */

    color: black;
}

.EditorsChoice_Pizzeria_ViewInformation_Button {
    height: 50px;
    width: 170px;
    background-color: black;
    border: 1px solid white;
    border-radius: 25px;
    margin-top: 30%
}

.View_Information_Text {
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    font-weight: 500;
    color: white;
    text-decoration: none;
    margin-left: 30px;
    margin-top: 12px;
}

.Explore_Pizzerias_Container {
    display: flex;
	flex-direction: row;
	justify-content: center;
    align-items: center;

    
    height: 50px;
    width: 170px;
    border: 1px solid white;
    border-radius: 25px;
    margin-left: 160%;
    margin-top: 220%;
    /* margin-top: 500%; */
    background-color: black;
}


.Explore_Pizzeria_Text {
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    font-weight: 500;
    color: white;
    text-decoration: none;
    margin-top: 6%;
    margin-right: 1%
}



.Explore_Pizza {
    margin-bottom: 1%
}



