.SocialBar_Container {
    display: flex;
	flex-direction: row;
	justify-content: flex-end;
    align-items: center;
    
    background-color: hsl(26, 73%, 9%);
    height: 30px;
    width: auto;
    
}

.Facebook_Social {
    background-image: url('https://cdn2.iconfinder.com/data/icons/black-white-social-media/32/facebook_online_social_media-128.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    height: 3.2vh;
    width: 1.5vw;
    margin-top: 0.3%;
    margin-left: 1%;
    margin-bottom: 0.4%
}

.Twitter_Social {
    background-image: url('https://cdn2.iconfinder.com/data/icons/black-white-social-media/32/online_social_media_twitter-128.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    height: 3.2vh;
    width: 1.5vw;
    margin-top: 0.3%;
    margin-left: 1%;
    margin-bottom: 0.4%
}

.Instagram_Social {
    background-image: url('https://cdn2.iconfinder.com/data/icons/black-white-social-media/32/instagram_online_social_media-128.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    height: 3.2vh;
    width: 1.5vw;
    margin-top: 0.3%;
    margin-left: 1%;
    margin-right: 1%;
    margin-bottom: 0.4%
}

.SnapChat_Social {
    background-image: url('https://cdn2.iconfinder.com/data/icons/black-white-social-media/64/snapchat_social_media_logo-128.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    height: 3.2vh;
    width: 1.5vw;
    margin-top: 0.3%;
    margin-right: 2%;
    margin-bottom: 0.4%    
}

@media only screen and (max-width: 1051px) {
    .SocialBar_Container {
        width: 100vw;
    }

    .Facebook_Social {
        height: 20px;
        width: 20px;
    }

    .Twitter_Social {
        height: 20px;
        width: 20px;
    }

    .Instagram_Social {
        height: 20px;
        width: 20px;
    }

    .SnapChat_Social {
        height: 20px;
        width: 20px;
    }
}

@media only screen and (max-width: 800px) {
    .SocialBar_Container {
        width: 100vw;
    }

    .Facebook_Social {
        height: 20px;
        width: 20px;
    }

    .Twitter_Social {
        height: 20px;
        width: 20px;
    }

    .Instagram_Social {
        height: 20px;
        width: 20px;
    }

    .SnapChat_Social {
        height: 20px;
        width: 20px;
    }
}

@media only screen and (max-width: 600px) {
    .SocialBar_Container {
        width: 100vw;
    }

    .Facebook_Social {
        height: 20px;
        width: 20px;
    }

    .Twitter_Social {
        height: 20px;
        width: 20px;
    }

    .Instagram_Social {
        height: 20px;
        width: 20px;
    }

    .SnapChat_Social {
        height: 20px;
        width: 20px;
    }
}

@media only screen and (max-width: 493px) {
    .SocialBar_Container {
        width: 110vw;
    }

    .Facebook_Social {
        height: 20px;
        width: 20px;
    }

    .Twitter_Social {
        height: 20px;
        width: 20px;
    }

    .Instagram_Social {
        height: 20px;
        width: 20px;
    }

    .SnapChat_Social {
        height: 20px;
        width: 20px;
    }
}

@media only screen and (max-width: 400px) {
    .SocialBar_Container {
        width: 124vw;
    }

    .Facebook_Social {
        height: 20px;
        width: 20px;
    }

    .Twitter_Social {
        height: 20px;
        width: 20px;
    }

    .Instagram_Social {
        height: 20px;
        width: 20px;
    }

    .SnapChat_Social {
        height: 20px;
        width: 20px;
    }
}